<launch>
  <node pkg="airo_butler" type="realsense2" name="realsense2" output="screen"></node>
  <node pkg="airo_butler" type="camera_plotter" name="camera_plot" output="screen"></node>
  <node pkg="airo_butler" type="zed2i" name="zed2i" output="screen"></node>
  <node pkg="airo_butler" type="zed_plotter" name="zed_plotter" output="screen"></node>
</launch>

