<launch>
  <!-- <node pkg="airo_butler" type="kp_labeler" name="kp_labeler" output="screen"></node> -->

  <!-- <node pkg="airo_butler" type="kalman_filter" name="kalman_filter" output="screen"></node> -->
  <!-- <node pkg="airo_butler" type="kp_cleaner" name="kp_cleaner" output="screen"></node> -->
  <!-- <node pkg="airo_butler" type="kalman_plotter" name="kalman_plotter" output="screen"></node> -->

  <node pkg="airo_butler" type="visibility_checker" name="visibility_checker" output="screen"></node>
</launch>

